---
layout: default
---

<div class="post" style="padding: 1rem 0;">
    <h1> {{ page.title }} </h1>

    <div class="page-nav">
        {% if page.previous %}
        {% assign link = page.previous | prepend: '/worldview/' | prepend: site.baseurl %}
        <a href="{{ link }}" class="left arrow">&#8592; {{ page.previous }} </a>
        {% endif %}
        {% if page.next %}
        {% assign link = page.next | prepend: '/worldview/' | prepend: site.baseurl %}
        <a href="{{ link }}" class="right arrow">{{ page.next }} &#8594;</a>
        {% endif %}
        <a href="{{ '/worldview/目錄' | prepend:site.baseurl }}"><span>目錄</span></a>
    </div>

    <!-- <div class="post-line"></div> -->

    {{ content }}

</div>

<div class="pagination">
    {% if page.previous %}
    {% assign link = page.previous | prepend: '/worldview/' | prepend: site.baseurl %}
    <a href="{{ link }}" class="left arrow" title="{{ page.previous }}">&#8592;</a>
    {% endif %}
    {% if page.next %}
    {% assign link = page.next | prepend: '/worldview/' | prepend: site.baseurl %}
    <a href="{{ link }}" class="right arrow" title="{{ page.next }}">&#8594;</a>
    {% endif %}

    <a href="#" class="top">Top</a>
</div>
